<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<main role="main">

		<section class="jumbotron text-center mt-5">						
			<div class="container">
				<h1 class="jumbotron-heading">Sistema para Cálculo de Informação Nutricional</h1>
				<p class="lead text-muted">You Chocolatier</p>				
			</div>
		</section>
		
		<div class="album py-3 bg-light">
			<div class="container">
				<div class="d-flex justify-content-center">
					<div class="col-md-12">
						<div th:replace="fragments/alert :: alerta-sucesso"></div>
						
						<form th:action="@{/ingrediente/salvar}"
								th:object="${ingrediente}" method="POST" class="was-validated" autocomplete="off">
									
							<div class="form-row">		
							    <div class="form-group col-md-12">
									<label for="ingrediente">Nome do Ingrediente</label> 
									<input type="text" class="form-control" id="ingrediente" required
											th:field="*{nome}" placeholder="Ingrediente"/>	
									<div class="invalid-feedback">Nome é requerido</div>								
								</div>						
								<div class="form-group col-md-6">
									<label for="carboidratos">Carboidratos</label> 
									<input type="text" class="form-control decimal" id="carboidratos" required 
											th:field="*{carboidratos}" placeholder="Carboidratos"/>	
									<div class="invalid-feedback">Quantidade de Carboidratos é requerido</div>									
								</div>
								<div class="form-group col-md-6">
									<label for="proteinas">Proteínas</label> 
									<input type="text" class="form-control decimal" id="proteinas" required
											th:field="*{proteinas}" placeholder="Proteinas"/>	
									<div class="invalid-feedback">Quantidade de Proteínas é requerida</div>									
								</div>
							    <div class="form-group col-md-6">
									<label for="gordurastotais">Gorduras Totais</label> 
									<input type="text" class="form-control decimal" id="gordurastotais" required
											th:field="*{gordurastotais}" placeholder="Gorduras Totais"/>	
									<div class="invalid-feedback">Quantidade de Gorduras Totais é requerida</div>									
								</div>
								<div class="form-group col-md-6">
									<label for="gordurassaturadas">Gorduras Saturadas</label> 
									<input type="text" class="form-control decimal" id="gordurassaturadas" required
											th:field="*{gordurassaturadas}" placeholder="Gorduras Saturadas"/>		
									<div class="invalid-feedback">Quantidade de Gorduras Saturadas é requerida</div>							
								</div>
								<div class="form-group col-md-6">
									<label for="gordurastrans">Gorduras Trans</label> 
									<input type="text" class="form-control decimal" id="gordurastrans" required
											th:field="*{gordurastrans}" placeholder="Gorduras Trans"/>			
									<div class="invalid-feedback">Quantidade de Gorduras Trans é requerida</div>						
								</div>
								<div class="form-group col-md-6">
									<label for="fibraalimentar">Fibra Alimentar</label> 
									<input type="text" class="form-control decimal" id="fibraalimentar" required
											th:field="*{fibraalimentar}" placeholder="Fibra Alimentar"/>		
									<div class="invalid-feedback">Quantidade de Fibra Alimentar é requerida</div>							
								</div>
								<div class="form-group col-md-6">
									<label for="sodio">Sódio</label> 
									<input type="text" class="form-control decimal" id="sodio" required
											th:field="*{sodio}" placeholder="Sódio"/>	
									<div class="invalid-feedback">Quantidade de Fibra Alimentar é requerida</div>									
								</div>
							</div>
												
							<input type="hidden" th:field="*{id}"> 
							<div class="form-group row">
								<div class="col-sm-10">
									<button type="submit" class="btn btn-primary"
										data-toggle="tooltip" data-placement="right" title="Salvar">
										<i class="fas fa-save"></i> Salvar
									</button>
								</div>
							</div>
						</form>												
					</div>
				</div>
			</div>
		</div>		
				
		<div class="album bg-light">
			<div class="container">
				<div class="form-row">								
					<div class="form-group col-md-12">
					<hr/>
						<h2>Ingredientes</h2>						
						<table id="table-ingrediente" class="table table-sm table-striped table-bordered nowrap" style="width:100%">
						  <thead class="thead-dark">
						    <tr>
						      <th scope="col">#</th>
						      <th scope="col">Ingrediente</th>
						      <th scope="col">Carboidratos</th>
						      <th scope="col">Proteínas</th>
						      <th scope="col">Gord Tot</th>
						      <th scope="col">Gord Sat</th>
						      <th scope="col">Gord Trans</th>
						      <th scope="col">Fibra Alimentar</th>
						      <th scope="col">Sódio</th>
						      <th scope="col">Editar</th>
						      <th scope="col">Excluir</th>
						    </tr>
						  </thead>
						</table>
					</div>
				</div>
			</div>
		</div>
		</main>

	</section>
	<script	th:src="@{/js/ingrediente.js?(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
	 
	$(".decimal").on("keypress keyup blur",function (event) {
   		if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
             event.preventDefault();
         }
     });
	
	</script>
</body>
</html>